* {
  font-size: 10px;
  list-style: none;
}

.list {
  width: 750px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__items {
  width: 500px;
  margin: auto;
}

.list__bottom {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.list__filter  {
  display: flex;
  gap: 0.7em;
}

/* STATUS ITEM */

.finished {
  text-decoration: line-through;
}

/* FILTER */

.filter__all, .filter__active, .filter__completed {
  background-color: aqua;
}
